.btn {
  -webkit-tap-highlight-color:transparent;
    @apply px-10 py-2.5 border-2 flex justify-center rounded-lg text-sm transition duration-300 relative;
}

.btn:disabled {
    @apply opacity-50;
}

.btn-primary,
.btn-primary:disabled:hover,
.btn-primary:disabled:active {
  -webkit-tap-highlight-color:transparent;
    @apply text-white bg-primary border-primary;
}

.btn-primary:hover,
.btn-primary:active {
    @apply text-white bg-primary-dark border-primary-dark;
}

.btn-secondary,
.btn-secondary:disabled:hover,
.btn-secondary:disabled:active {
  -webkit-tap-highlight-color:transparent;
    @apply bg-white text-primary border-primary;
}

.btn-secondary:hover,
.btn-secondary:active {
  -webkit-tap-highlight-color:transparent;
    @apply text-white bg-primary-dark border-primary-dark;
}

.btn-secondary:disabled:hover {
  -webkit-tap-highlight-color:transparent;
    @apply bg-white text-primary;
}

.btn-tertiary,
.btn-tertiary:disabled:hover,
.btn-tertiary:disabled:active {
  -webkit-tap-highlight-color:transparent;
    @apply text-white bg-transparent border-white;
}

.btn-tertiary:hover,
.btn-tertiary:active {
  -webkit-tap-highlight-color:transparent;
    @apply bg-white border-white text-primary;
}

.btn-quaternary,
.btn-quaternary:disabled:hover,
.btn-quaternary:disabled:active {
  -webkit-tap-highlight-color:transparent;
    @apply px-6 py-1.5 normal-case text-black bg-transparent border-black;
}

.btn-quaternary span{
  -webkit-tap-highlight-color:transparent;
    @apply normal-case;
}

.btn-quaternary:hover,
.btn-quaternary:active {
  -webkit-tap-highlight-color:transparent;
    @apply text-white bg-black;
}

.btn-ghost,
.btn-ghost:disabled:hover,
.btn-ghost:disabled:active {
  -webkit-tap-highlight-color:transparent;
    @apply bg-transparent border-transparent text-primary px-[1.3rem] py-[0.4rem] items-center;
}

.btn-ghost:hover,
.btn-ghost:active {
  -webkit-tap-highlight-color:transparent;
    @apply border-transparent bg-neutral-200 dark:bg-primary-dark text-primary;
}

.btn-icon,
.btn-icon:hover,
.btn-icon:active {
  -webkit-tap-highlight-color:transparent;
    @apply  px-0 py-0 border-none;
}

.btn-link,
.btn-link:disabled:hover,
.btn-link:disabled:active {
  -webkit-tap-highlight-color:transparent;
    @apply text-primary border-0 px-0;
}

.btn-link:hover,
.btn-link:active {
  -webkit-tap-highlight-color:transparent;
    @apply text-primary-lighter ;
}


.btn-alternative,
.btn-alternative:disabled:hover,
.btn-alternative:disabled:active {
    @apply bg-secondary-light-90 border-transparent text-primary font-bold px-[1.3rem] py-[.8125rem] text-base  rounded-none rounded-bl w-full;
}

.btn-alternative:hover {
    @apply opacity-70;
}

.btn-alternative-transparent,
.btn-alternative-transparent:disabled:hover,
.btn-alternative-transparent:disabled:active {
    @apply bg-white border-transparent text-primary font-bold px-[1.3rem] py-[.8125rem] text-base  rounded-none rounded-bl w-full;
}

.btn-alternative-transparent:hover {
    @apply opacity-70;
}